.btn {
    margin-right: 25px;
    width: 100px;
    height: 40px;
}

.navbar {
    background-color: #beadad;
    padding: 20px;
    clear: both;
}

.form-inline {
    margin-left: 27%;
}

.d-block {
    width: 100%;
    height: 500px;
}

.card {
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    float: left;
}

.cardholder {
    margin-left: 15%;
}

